include config
include ../mixins/mixins
doctype
<!--[if IE 8 ]>
html.no-js.ie8(lang=page_lang)
<![endif]-->
<!--[if IE 9 ]>
html.no-js.ie9(lang=page_lang)
<![endif]-->
html()&attributes({
    'class'       : ['no-js dom-html'],
    'lang'        : page_lang,
    'data-project-name': project_name,
    'data-resized': 250,
    'data-mode-rewrite': 'on'
})
    head
        script(type="text/javascript")
            | var startTime = new Date().getTime();
        meta(charset=charset)
        block page_description
            meta(name='description' content=page_description)
        meta(name='author' content=page_author)
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width initial-scale=1')
        meta(name='format-detection' content='telephone=no')
        meta(property="og:url" content="")
        meta(property="og:type" content="website")
        meta(property="og:title" content=page_title)
        meta(property="og:description" content=page_description)
        meta(property="og:image" content=page_image)
        block page_title
            title= page_title
        link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        link(rel='shortcut icon' href=path_image + 'favicon.ico')
        link(rel='apple-touch-icon' href=path_image + 'favicon.png')
        link(rel='stylesheet' href=path_css + 'style.min.css')
    body()&attributes({'class': body_classes})
        block variables
        include ../includes/socials-side-bar
        //- Google Analitics
        if google_analitics
            include ../includes/google-analitics
        //- Cookies policy
        if cookies_policy
            include ../includes/cookies-policy
        //- Preloader
        if preloader
        #page-wrapper
            main#content-wrapper.content-wrapper
                //- Top bar
                if top_bar
                    include ../includes/top-bar
                //- Nav bar
                if nav_bar
                    include ../includes/nav-bar
                block page_content
            //- footer
            if footer
                include ../includes/footer
        include ../js/scripts
